
html{
    width: 100%;
    height: 100%;
}


body {
    background: linear-gradient(180deg, #124D6B, #2A4A5F, #121212);
}
main{
}

section{
    display: flex;
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 40px;
    /* background-color: aqua; */
}

.formulario{
    display: flex;
    padding: 40px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url(./Imagem/ceuEstrelado.jpg);
    border-radius: 10px;
    box-shadow: 0px 0px 20px black;
}

.exibirPesquisa{
    display: flex;
    padding: 10px;
    width: 60%;
    background-color:#EEF2FF;
    opacity: 0.8;
    border-radius: 10px;
    box-shadow: 0px 0px 20px white;

}

.dadosDoUser{
    display: flex;
    padding: 20px;
    flex-direction: column;
    background-color: #2A4A5F;
    border-radius: 30PX;
    box-shadow: 0px 0px 20px white;
}

.dataDoUser{
    display: flex;
    padding: 10px;
    border-radius: 10px;
    background-color:#124D6B;
    /* box-shadow: 0px 5px 15px white; */
    color: white;
}

.nomeDoUser{
    display: flex;
    padding: 10px;
    border-radius: 10px;
    background-color:#124D6B;
    /* box-shadow: 0px 5px 15px white;  */
    color: white;
}